azure-identity
azure-monitor-opentelemetry
azure-search-documents

fastapi
uvicorn

langchain
langchain-community
langchain-openai
langchain-text-splitters
langgraph
langsmith

pydantic
pypdf
python-dotenv
requests
yt-dlp

guardrails-ai